
@{
    ViewBag.Title = "Countries List test";
}

<h2>Countries List</h2>

<ul>
    @foreach (string strCountry in (List<string> ) ViewData["Countries"])
    {
    <li>
        @strCountry
    </li>
    }
</ul>

